@(columns: Seq[Column])

@main("rcubed: columns table", "columns") {
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Title</th>
                <th>Name</th>
                <th>Value template</th>
                <th>Property template</th>
                <th>Datatype</th>
                <th>Value transformation</th>
                <th>Regex</th>
                <th>Range</th>
            </tr>
        </thead>
        <tbody>
        @columns.map { column =>
            <tr>
                <td>@column.title</td>
                <td>@column.name</td>
                <td>@column.value_template</td>
                <td>@column.property_template</td>
                <td>@column.datatype</td>
                <td>@column.value_transformation</td>
                <td>@column.regex</td>
                <td>@column.range</td>
            </tr>
        }
        </tbody>
    </table>
}