@(currentConfigs: Seq[Config], configForm: Form[CreateConfigForm])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
   @request.messages(key)
}

@main("Reference data registry/repository configuration", "config") {
	<h2>table2qb configurations</h2>
	<dl>
	@currentConfigs.map { config =>
		<dt>@config.label</dt>
		<dd>@config.baseURL</dd>
	}
	</dl>
	<hr />
  @form(routes.ConfigController.addConfig()) {
		@inputText(configForm("label"))
		@inputText(configForm("base_url"))
		@CSRF.formField

		<div class="buttons">
			<input type="submit" value="Add Configuration"/>
		</div>
	}
}
